 <%- include('header') %> 
 <style>
   .{
     background-color: rgb(33,37,41);
   }

 </style>
 <body>
  <marquee>welcome to this very adorable of a project. marquee text? so 1990s, but so worth it.</marquee>
</body>