.no-border {
  border-style: none;
  border: 0;
  box-shadow: none;
}

input[type="text"]:disabled,
input[type="textarea"]:disabled,
input[type="datetime-local"]:disabled {
  background-color: white;
  align-items: center;
  padding-top: 50px !important;
}

@media screen and (min-width: 800px) {
  .card-container {
  }
}
